{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Credits Tracking</title>
    <link href="{% static "credits_score/css/bootstrap.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static "credits_score/css/style.css" %}">
    <link rel="stylesheet" href="{% static "credits_score/css/webfont.css" %}">
    <link rel="stylesheet" href="{% static "credits_score/font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Rajdhani:400,500" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="http://trentrichardson.com/examples/timepicker/jquery-ui-timepicker-addon.js"></script>
    {% block title %}{% endblock %}
</head>

{% block navbar %}

<!-- TOP NAVIGATION PANEL -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <a href="{% url 'CEOstart' %}">
        <img class="logo-white" title="Return to front page" src="{% static "credits_score/img/logo_white.png" %}" alt="/" style="height: 100px; margin-top:-10px; margin-left: 6%;">
    </a>
    <form action="/logout">
        <button id="logout" type="submit" title="Log out" style="float: right; margin: 2.5% 7.3% 0% 0%; padding: 1.9% 1.5% 2% 2%; position: relative; margin-top: -90px; height: 80px;">
             <div class="icon dripicons-exit"></div>
         </button>
    </form>
</nav>

<!-- LEFT SIDE NAVIGATION PANEL -->
<div class="navbar navbar-inverse navbar-fixed-left">
    {% if request.get_full_path == "/ceostart/" %}
    <button class="home active" title="Home"><a class="navbar-brand" href="{% url 'CEOstart' %}"><div class="icon dripicons-home"></div></a></button>
    {% else %}
    <button class="home" title="Home"><a class="navbar-brand" href="{% url 'CEOstart' %}"><div class="icon dripicons-home"></div></a></button>
    {% endif %}
    {% if request.get_full_path == "/projects/ceo/conclusions/" %}
   <button class="home active" title="Conclusions"><a class="navbar-brand" href="{% url 'projects:ceo_conclusions' %}"><div class="icon dripicons-document"></div></a></button>
    {% else %}
    <button class="home" title="Conclusions"><a class="navbar-brand" href="{% url 'projects:ceo_conclusions' %}"><div class="icon dripicons-document"></div></a></button>
    {% endif %}
</div>

{% endblock %}

<body>
    {% block content %}
    {% endblock %}
    <script src="{% static "credits_score/js/bootstrap.js" %}"></script>
    <script src="{% static "credits_score/js/app.js" %}"></script>
</body>

<style>
    .dripicons-exit {
        font-size: 30px;
    }
    .navbar-fixed-left {
      width: 80px;
      position: fixed;
      border-radius: 0;
      height: 100%;
    }

    .navbar-fixed-left .navbar-nav > li {
      float: none;  /* Cancel default li float: left */
      width: 139px;
    }

    .navbar-fixed-left + .container {
      padding-left: 60px;
    }

    .navbar-fixed-left .navbar-nav > li > .dropdown-menu {
      margin-top: -50px;
      margin-left: 140px;
    }
    .dripicons-home, .dripicons-document {
        font-size: 30px;
        color: #fff;
    }


</style>

</html>
