{% extends "credits_score/base.html" %} <!-- all templates are going to extend form base.html to avoid repetitions -->
{% load static %}
{% block content %}

{% block title %}<title>Student Page</title>{% endblock %}


<!-- Fixed navbar -->


<body>
<!-- Page jumbotron -->
<div class="page-header">
    <h1 class="text-center">{{ student.first_name }} {{ student.last_name }}</h1>
    <h4 class="icon dripicons-tag">Employee</h4>
    <h5><a href="mailto:{{student.email}}" class="icon dripicons-mail"> {{ student.email }} </a></h5>
</div>

<!-- Student's general INFO -->
<div id="infotable">
    <table class="table" id="studInfo">
        <thead>
        <tr>
            <td>{{ student.group }}</td>
            <td>{{ total_hours.hours__sum }}</td>
            <td>{{ credits|floatformat:2 }}</td>
            <td>{{ student.student_number }}</td>
        <tr>
        </thead>
        <thead>
            <th>Group</th>
            <th>Hours</th>
            <th>Credits</th>
            <th>Student number</th>
        </thead>
    </table>
</div>


<!-- Current projects section -->
<!--<ul class="col-sm-12 list-group">-->
    <!--&lt;!&ndash;Listing all projects which this students working now&ndash;&gt;-->
    <!--<li class="list-group-item active"><h5>Current projects</h5></li>-->
    <!--&lt;!&ndash;each project name is linked to it's own project page&ndash;&gt;-->
    <!--{% for project in student.projects.all %}-->
        <!--<li class="list-group-item"><a href="{% url 'projects:edit_project' slug=project.title %}">{{ project.title }}</a></li>-->
    <!--{% endfor %}-->
<!--</ul>-->

<div class="container">
    <div class="col-sm-10 logs">
        <a class="col-md-3" href="{% url 'projects:ceo_student' pk=student.id %}?month={{ int_month|add:'-1' }}&year={{ int_year }}"><div class="icon dripicons-arrow-thin-left">Previous month</div></a>
    <h2 class="col-md-3" style="text-align: center;">{{ displayed_month }}, {{ int_year }}</h2>
        <a class="col-md-3" href="{% url 'projects:ceo_student' pk=student.id %}?month={{ int_month|add:'1' }}&year={{ int_year }}" id="nextMonth"><div class="icon dripicons-arrow-thin-right">Next month</div></a>

        <br>
        <!-- List the student's working hours -->
        <table class="col-sm-12 table">
            <thead>
            <tr>
                <th class="gray_col">Date</th>
                <th class="gray_col">Hours</th>
                <th class="bold_col">Project</th>
                <th class="bold_col">Status</th>
                <th>Working contents</th>
                <th class="stat_change"></th>
                <th class="stat_change"></th>
            </tr>
            </thead>

            <tbody id="log_table">
            {% for log in logs %}
            <tr>
                <th class="gray_col">{{ log.date|date:"d/m/y" }}</th>
                <th class="gray_col">{{ log.hours }}</th>
                <th class="bold_col"><a href="{% url 'projects:edit_project' slug=project.title %}">{{ log.project }}</a></th>
                <th class="bold_col">{{ log.status }}</th>
                <th>{{ log.description }}</th>

                <th class="stat_change"><button type="submit" name="status" form="form{{ log.id }}" value="Approved" class="btn btn-success" ><div class="icon dripicons-checkmark"></div></button></th>
                <th class="stat_change"><button type="submit" name="status" form="form{{ log.id }}" value="Rejected" class="btn btn-danger" ><div class="icon dripicons-cross"></div></button></th>
                <form id="form{{ log.id }}" action="{% url 'projects:ceo_log_status' pk=log.id %}" method="post">
                    {% csrf_token %}
                </form>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <!-- BUTTON TO APPROVE ALL OF A STUDENTS' LOGS -->
    <form method="post" id="form-appr-all" action="{% url 'projects:ceo_log_status_all' pk=student.id m=int_month y=int_year %}">
        {% csrf_token %}
        <button id="approveAll" class="btn-primary icon dripicons-checkmark" type="submit" name="status-all" form="form-appr-all" value="Approved">Approve all</button>
    </form>


    <!-- BUTTON TO DELETE (DEACTIVATE) STUDENT -->
    <form method="post" action="{% url 'projects:ceo_deactivate' pk=student.id  %}">
        {% csrf_token %}
        <button class="col-sm-12 btn btn-danger" id="deleteStudent" type="submit" value="False" onclick="return confirm('Are you sure you want to remove this student?')">Remove this student from theFirma</button>
    </form>

</div>


<style>
    #deleteStudent {
        margin-top: 70px;
        margin-bottom: 50px;
    }
    #nextMonth {
        float: right;
    }
</style>

{% endblock %}
