{% extends "credits_score/base.html" %} <!-- all templates are going to extend form base.html to avoid repetitions -->
{% load static %}

{% block content %}

<div class="container">
    <table class="table" id="conclusions">
        <thead>
        <tr>
            <th>Name</th>
            <th>Student Number</th>
            <th>Group</th>
            <th>Position</th>
            <th>Credits</th>
        </tr>
        </thead>
        <tbody>
        {% for stud_dict in stud_dict_list %}
        <tr>
            <td>{{ stud_dict.name }}</td>
            <td>{{ stud_dict.student_number }}</td>
            <td>{{ stud_dict.group }}</td>
            <td>Employee</td>
            <td>
                {{ stud_dict.credits|default:"0"|floatformat:0 }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-concl btn-send"><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i><a href="mailto:sanna.maata@edu.turkuamk.fi">Send to the teacher</a></button>
    <button class="btn btn-concl btn-ecxel"><a href="{% url 'projects:ceo_excel' %}"><i class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i>Generate Excel file</a></button>

</div>

</body>
</html>

{% endblock %}