{% extends "credits_score/base.html" %} <!-- all templates are going to extend form base.html to avoid repetitions -->
{% load static %}

{% block content %}

<body>

<div class="container">
    <div class="col-sm-6 col-md-6">
        <h4 class="text-center mini-jumbo">PROJECTS</h4>
        <input type="text" class="form-control fontAwesome" id="project-filter" onkeyup="projectFilter()" placeholder="&#xf002" title="Type in a name">
        <ul id="project-list-item">
            {% for project in project_list|dictsort:"title.lower" %}
                <li><a href="{% url 'projects:edit_project' project.title %}">{{ project }}</a></li>
            {% endfor %}
        </ul>
    </div>


    <div class="col-sm-6 col-md-6">
        <h4 class="text-center mini-jumbo">STUDENTS</h4>
        <form action="" method="GET">
            <input type="text" name="q" class="form-control fontAwesome" id="student-filter" title="Type in a name" placeholder="&#xf002"/>
        </form>
        <ul id="student-list-item">
            {% for student in student_list|dictsort:"last_name.lower" %}
                <li><a href="{% url 'projects:ceo_student' student.id %}">{{ student }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-sm-6 addProject">
        <!--add new project form-->
        <button type="button" class="btn btn-primary col-sm-12 add" id="pop-up-add-project"><i class="icon dripicons-plus"></i></button>
        <div id="add-project-box"></div>
    </div>

    <div class="col-sm-6 addStudent">
        <!--add new student form-->
        <button type="button" class="btn btn-primary col-sm-12" id="pop-up-add-student"><i class="icon dripicons-plus add"></i></button>
        <div id="add-student-box"></div>
    </div>


    <!-- CONCLUSIONS AND STATISTIC DATA -->

    <div class="stat">
        <div class="row">
            <div class="col-md-3 col-sm-12 total">
                <h4 class="text-center dripicons-archive mini-jumbo">Total projects started</h4>
                <div class="graph"><h1>{{ projects_added_this_year }}</h1></div>
            </div>
            <div class="col-md-3 col-sm-12 total" >
                <h4 class="icon dripicons-user-group mini-jumbo">Students joined theFIRMA</h4>
                <div class="graph"><h1>{{ students_added_this_year }}</h1></div>
            </div>
            <div class="col-md-3 col-sm-12 total">
                <h4 class="text-center dripicons-clock mini-jumbo">Total working time</h4>
                <div class="graph" ><h1 style="font-size: 50px;">{{ hours_this_year.hours__sum }}</h1></div>
            </div>
        </div>
    </div>

</div>



    <!--<div id="report" class="col-sm-12 conclusion">-->
        <!--<div class="list-group">-->
            <!--<h3 href="#" class="active text-center mini-jumbo">Conclusions</h3>-->
            <!--<button type="button" class="list-group-item list-group-item-action">-->
                <!--<h4 class="text-center" data-toggle="modal" data-target="#listStudents" title="Click here">List all students working hours and credits</h4>-->
            <!--</button>-->
            <!--<button type="button" class="list-group-item list-group-item-action">-->
                <!--<h4 class="text-center" data-toggle="modal" data-target="#SPnumbers" title="Click here">Get the numbers for all projects and students this year</h4>-->
            <!--</button>-->
        <!--</div>-->
        <!--&lt;!&ndash;Listing all students info&ndash;&gt;-->
        <!--<div class="col-sm-12">-->
            <!--<div class="modal fade bd-example-modal-lg" id="listStudents" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%">-->
                <!--<div class="modal-dialog modal-lg" role="document">-->
                    <!--<div class="modal-content">-->
                        <!--<div class="modal-header">-->
                            <!--<ul class="studentsList col-sm-12">-->
                                <!--<li class="dropdown col-sm-4">-->
                                    <!--&lt;!&ndash;List by period&ndash;&gt;-->
                                    <!--<button class="btn btn-default dropdown-toggle col-sm-12" type="button" data-toggle="dropdown">Period-->
                                        <!--<span class="caret"></span></button>-->
                                    <!--<ul class="dropdown-menu">-->
                                        <!--<li class="dropdown-header">List by period</li>-->
                                        <!--<li class="list-group-item">-->
                                            <!--<label class="radio-inline">-->
                                                <!--<input name="radioGroup" id="season1" value="option1" type="radio">Jan - Apr-->
                                            <!--</label>-->
                                        <!--</li>-->
                                        <!--<li class="list-group-item">-->
                                            <!--<label class="radio-inline">-->
                                                <!--<input name="radioGroup" id="season2" value="option1" type="radio">Apr - Jul-->
                                            <!--</label>-->
                                        <!--</li>-->
                                        <!--<li class="list-group-item">-->
                                            <!--<label class="radio-inline">-->
                                                <!--<input name="radioGroup" id="season3" value="option1" type="radio">Aug-->
                                            <!--</label>-->
                                        <!--</li>-->
                                        <!--<li class="list-group-item">-->
                                            <!--<label class="radio-inline">-->
                                                <!--<input name="radioGroup" id="season4" value="option1" type="radio">Sep - Dec-->
                                            <!--</label>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--<li class="dropdown col-sm-4">-->
                                    <!--&lt;!&ndash;List by study group&ndash;&gt;-->
                                    <!--<button class="btn btn-default dropdown-toggle col-sm-12" type="button" data-toggle="dropdown">Study Group-->
                                        <!--<span class="caret"></span></button>-->
                                    <!--<ul class="dropdown-menu">-->
                                        <!--<li class="dropdown-header">List by study group</li>-->
                                        <!--<li class="list-group-item">-->
                                            <!--<label class="radio-inline">-->
                                                <!--<input name="radioGroup" id="group1" value="option1" type="radio">Group 1-->
                                            <!--</label>-->
                                        <!--</li>-->
                                        <!--<li class="list-group-item">-->
                                            <!--<label class="radio-inline">-->
                                                <!--<input name="radioGroup" id="group2" value="option1" type="radio">Group 2-->
                                            <!--</label>-->
                                        <!--</li>-->
                                        <!--<li class="list-group-item">-->
                                            <!--<label class="radio-inline">-->
                                                <!--<input name="radioGroup" id="group3" value="option1" type="radio">Group 3-->
                                            <!--</label>-->
                                        <!--</li>-->
                                        <!--<li class="list-group-item">-->
                                            <!--<label class="radio-inline">-->
                                                <!--<input name="radioGroup" id="group4" value="option1" type="radio">Group 4-->
                                            <!--</label>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--<li class="dropdown col-sm-4">-->
                                    <!--<button class="btn btn-default dropdown-toggle col-sm-12" type="button" data-toggle="dropdown">Position-->
                                        <!--<span class="caret"></span></button>-->
                                    <!--<ul class="dropdown-menu">-->
                                        <!--<li class="dropdown-header">List by study position</li>-->
                                        <!--<li class="list-group-item">-->
                                            <!--<label class="radio-inline">-->
                                                <!--<input name="radioGroup" id="position1" value="option1" type="radio">Work placement-->
                                            <!--</label>-->
                                        <!--</li>-->
                                        <!--<li class="list-group-item">-->
                                            <!--<label class="radio-inline">-->
                                                <!--<input name="radioGroup" id="position2" value="option1" type="radio">ICT Service-->
                                            <!--</label>-->
                                        <!--</li>-->
                                        <!--<li class="list-group-item">-->
                                            <!--<label class="radio-inline">-->
                                                <!--<input name="radioGroup" id="position3" value="option1" type="radio">MTA-->
                                            <!--</label>-->
                                        <!--</li>-->
                                        <!--<li class="list-group-item">-->
                                            <!--<label class="radio-inline">-->
                                                <!--<input name="radioGroup" id="position4" value="option1" type="radio">Employee-->
                                            <!--</label>-->
                                        <!--</li>-->
                                        <!--<li class="list-group-item">-->
                                            <!--<label class="radio-inline">-->
                                                <!--<input name="radioGroup" id="position5" value="option1" type="radio">Competence track studies-->
                                            <!--</label>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="modal-body">-->
                            <!--<table class="table table-bordered table-inverse">-->
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th>Name</th>-->
                                    <!--<th>Student Number</th>-->
                                    <!--<th>position</th>-->
                                    <!--<th>Credits</th>-->
                                    <!--<th>Working contents in English</th>-->
                                    <!--<th>Working contents in Finnish</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                <!--{% for stud_dict in stud_dict_list %}-->
                                <!--<tr>-->
                                    <!--<td>{{ stud_dict.name }}</td>-->
                                    <!--<td>{{ stud_dict.student_number }}</td>-->
                                    <!--<td>Employee</td>-->
                                    <!--<td>-->
                                        <!--{{ stud_dict.credits|default:"0"|floatformat:2 }}-->
                                    <!--</td>-->
                                    <!--<td>working contents in English</td>-->
                                    <!--<th>Working contents in Finnish</th>-->
                                <!--</tr>-->
                                <!--{% endfor %}-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                        <!--<div class="modal-footer">-->
                            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                            <!--<button type="button" class="btn btn-primary">Sent</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;Get the numbers for students and projects&ndash;&gt;-->
        <!--<div class="modal fade bd-example-modal-sm" id="SPnumbers" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">-->
            <!--<div class="modal-dialog modal-sm">-->
                <!--<div class="modal-content">-->
                    <!--<table class="table">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>The number students joined this year</th>-->
                            <!--<th>The number of all projects</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<td class="text-center">19</td>-->
                            <!--<td class="text-center">99</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                        <!--<button type="button" class="btn btn-primary">Send</button>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->



 <script>
    $(function() {
        $('#pop-up-add-student').on('click', function() {
            $('#add-student-box').load("{% url 'projects:add_user' %}");
            $('#add-student-box').dialog({
                  position: { my: "top", at: "bottom+8", of: '.navbar'},
                  width: 750,
                  modal: true,
                  dialogClass: "no-close",
                  classes: {
                        "ui-dialog": "modal-content",
                        "ui-dialog-titlebar": "modal-header",
                        "ui-dialog-title": "modal-title",

                        "ui-dialog-content": "modal-body",
                        "ui-dialog-buttonpane": "modal-footer"
                  },
                  title: "REGISTER A NEW STUDENT",
                  buttons: [
                    {
                        text: "Add",
                        "form": "add-student",
                        "class": "btn btn-secondary proceed",
                        click: function() {
                             $( '#add-student' ).submit();
                        }
                    }, {
                        text: "Cancel",
                        "class": "btn btn-secondary cancel",
                        click: function() {
                             $( this ).dialog( "destroy" );
                        }
                    }
                  ]
            });
            $(".ui-dialog").css({
              zIndex: '1060'
            });
        });
        $('#pop-up-add-project').on('click', function() {
            $('#add-project-box').load("{% url 'projects:add_project' %}");
            $('#add-project-box').dialog({
                  position: { my: "top", at: "bottom+8", of: '.navbar'},
                  width: 750,
                  modal: true,
                  dialogClass: "no-close",
                  classes: {
                        "ui-dialog": "modal-content",
                        "ui-dialog-titlebar": "modal-header",
                        "ui-dialog-title": "modal-title",
                        "ui-dialog-content": "modal-body",
                        "ui-dialog-buttonpane": "modal-footer"
                  },
                  title: "REGISTER A NEW PROJECT",
                  buttons: [
                    {
                        text: "Reister",
                        "form": "add-project",
                        "class": "btn btn-secondary proceed",
                        click: function() {
                             $( '#add-project' ).submit();
                        }
                    },
                    {
                        text: "Cancel",
                        "class": "btn btn-secondary cancel",
                        click: function() {
                             $( this ).dialog( "destroy" );
                        }
                    }
                  ]
            });
        });
    });

 </script>



{% endblock %}
