<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form id="add-student" action="{% url 'projects:add_user' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>

</body>

<style>
    .helptext {
      visibility: hidden;
    }
    .no-close .ui-dialog-titlebar-close {
        display: none;
    }
</style>

</html>
