<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form id="add-project" action="{% url 'projects:add_project' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>

</body>
</html>