{% extends "credits_score/base.html" %} <!-- all templates are going to extend form base.html to avoid repetitions -->
{% load static %}

{% block content %}
{% block title %}<title>Change project info</title>{% endblock %}

<body>

<!-- Page jumbotron -->
<div class="page-header">
    <h1 class="text-center"> {{ project.title }}</h1>
    <h4 class="icon dripicons-tag"> {{ project.description }} </h4>
    <h5><a class="icon dripicons-document-edit" href="{% url 'projects:update_project' pk=project.id %}">Change project info</a></h5>
</div>

<div id="table">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <button type="submit" title="Add student to this project" class="icon dripicons-plus"></button>
        </form>
     <p>Funding: {{ project.funding }}</p>

    <h4>Participants:</h4>
        <ol>
        {% for participation in participations %}
            <li><a href="{% url 'projects:ceo_student' participation.student_id %}">{{ participation.student }}</a></li>
            <form action="{% url 'projects:delete_participation' slug=participation.project pk=participation.id %}" method="post">
                {% csrf_token %}
                <button type="submit" title="Remove this student" id="delete" class="icon dripicons-trash"></button>
            </form>
        {% endfor %}
        </ol>
</div>

</body>

<style>
    #table {
        padding-top: 20px;
        padding-left: 110px;
    }
</style>

{% endblock %}