{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Credits Tracking</title>
    <link href="{% static "credits_score/css/bootstrap.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "credits_score/css/style.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="http://trentrichardson.com/examples/timepicker/jquery-ui-timepicker-addon.js"></script>
</head>


<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--link to the index page-->

                <img class=" logo-white" src="{% static "credits_score/img/logo_white.png" %}" alt="/">

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <!--Launch Info table-->
                    <button type="button" class="btn btn-default btn-lg employee-info-btn" data-toggle="modal" data-target="#myModal">Info</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Info Table-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Info</h4>
            </div>
            <div class="modal-body">
                <!--Info Contents-->
                <ul class="employee-infoTable">
                    <li><h3 >Name</h3></li>
                    <li><p>{{ user.first_name }} {{ user.last_name }}</p></li>
                </ul>
                <ul class="employee-infoTable">
                    <li><h3>Student Number</h3></li>
                    <li><p>{{ user.student_number }}</p></li>
                </ul>
                <ul class="employee-infoTable">
                    <li><h3>Study Group</h3></li>
                    <li><p>NINFOS14</p></li>
                </ul>
                <ul class="employee-infoTable">
                    <li><h3>Working Hours</h3></li>
                    <li><p>{{ total_time }}</p></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</header>

<body>
<!--page content -->
<div class="container" style="margin-top: 100px">
    <h1>Hello {{ user }}!</h1>
    {% for project in project_list %}
        <div class="modal-content col-sm-4 project-list" style="border-right:1px solid black ">
            <a href="{% url 'projects:detail' project.id %}"><h3 class="text-center"> {{ project.title }} </h3></a>
        </div>
    {% endfor %}
    <!-- for logs outside of project -->
    <div class="modal-content col-sm-4 project-list" style="border-right:1px solid black ">
        <a href="{% url 'projects:detail' general_hours_register.id %}"><h3 class="text-center"> {{ general_hours_register.title }} </h3></a>
    </div>
</div>


    <script src="{% static "credits_score/js/bootstrap.js" %}"></script>
    <script src="{% static "credits_score/js/app.js" %}"></script>
</body>


</html>
