<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project details</title>
</head>
<body>
    <h2>{{ project.title }}</h2>
    <p>{{ project.description }}</p>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" />
    </form>

    <ul>
    {% for log in logs %}
        <li>
        {{ log.date }}
        {{ log.start_time }}
        {{ log.end_time }}
        {{ log.description }}
        {{ log.hours }}
        </li>
    {% endfor %}
    </ul>

</body>

</html>