{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Credits Tracking</title>
        <link href="{% static "credits_score/css/bootstrap.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static "credits_score/css/style.css" %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>

    <body>
    <!--page content -->
    <div class="form-signin" role="document">
        <div class="modal-content">
            <img class="logo" src="{% static "credits_score/img/logo.png" %}" alt="/">
            <div class="modal-body">
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2 class="form-signin-heading">Please Log in</h2>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    {{ form.email }}
                    <br>
                    <label for="inputPassword" class="sr-only">Password</label>
                    {{ form.password }}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"><p>Remember me</p>
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
                </form>
            </div>
        </div>
    </div>
    <!--End page content -->
    <script src="{% static "credits_score/js/bootstrap.js" %}"></script>
    <script src="{% static "credits_score/js/app.js" %}"></script>
    </body>

</html>

