{% extends "credits_score/base.html" %} <!-- all templates are going to extend form base.html to avoid repetitions -->
{% load static %}

{% block content %}
{% block title %}<title>Change project info</title>{% endblock %}
<body>

<div>
    <form id="fields" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update project" />
    </form>
</div>

</body>

<style>
    #fields {
    padding-left: 100px;
    padding-top: 15px;
    padding-right: 500px;
    }
</style>
{% endblock %}