@font-face {
  font-family: "dripicons-v2";
  src:url("../fonts/dripicons-v2.eot");
  src:url("../fonts/dripicons-v2.eot?#iefix") format("embedded-opentype"),
    url("../fonts/dripicons-v2.woff") format("woff"),
    url("../fonts/dripicons-v2.ttf") format("truetype"),
    url("../fonts/dripicons-v2.svg#dripicons-v2") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,body {
    height: 100%;
}
body{
    font-size: 14px;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 80px;
    background-color: #cadbeb;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
}
/*
*Nav bar
*/
.navbar{
    background-color: #2a98a9;
    border: none;
    height: 80px;
}
.footer {
    color: #ffffff;
    background-color: #4184c2;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
.navbar-brand > p,
.text-muted > p{
    color: white;
}
.logo-white{
    width: 160px;
    height: 100px;
    margin-left: 6%;
    margin-top: -10px;
}
.form-signin {
    max-width: 900px;
    padding: 15px;
    margin: 100px auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/*
*employee Page
 */
/*
    employee info btn
*/
.employee-info-btn{
    height: 70px;
    width: 70px;
    margin-top: 30px;
    font-size: 2em;
    border-radius: 50%;
}
/*
    employee Info table
*/
.employee-infoTable{
    border-bottom: 1px solid black;
}
.employee-infoTable > li{
    display: inline-block;
    margin-left: 10%;
}
.employee-infoTable > li > p {
    text-align: right;
    font-size: 1.7em;
}

.form-group > label{
    font-size: 2em;
}

/*
Display the each project name
*/
.project-list{
    margin: 60px;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}
/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
.project-list-item{
    margin-left: 50px;
    margin-top: 10px;
}

.project-status > li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.project-status > li:nth-child(odd) {
    background: #f9f9f9;
}
.project-status > li:hover {
    background: #dddddd;
}
/* The button for closing working status*/
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px
}
.close:hover {
    background-color: #f44336;
    color: white;
}


/*--------------------
CEO page
------------------- */

.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}

#project-filter,
#student-filter{
    border: none;
}

#project-list-item,
#student-list-item{
    height: 300px;
    overflow-y: scroll;
    background-color: #d7e6e9;
    /*background-color: #EBF2F7;*/
    font-size: 12px;
    padding-left: 0px;
    margin-bottom: 0px;
}
#project-list-item > li,
#student-list-item > li{
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    padding-bottom: 3%;
    padding-top: 3%;
}

#student-list-item > li:before {
    font-family: "dripicons-v2";
    content: "\e058";
    font-size: 30px;
    color: #eea21b;
    padding-left: 20px;
    vertical-align: sub;
}

#project-list-item > li:before {
    font-family: "dripicons-v2";
    content: "\45";
    font-size: 30px;
    color: #EC4C6B;
    padding-left: 20px;
    vertical-align: sub;
}

#project-list-item > li> a,
#student-list-item > li > a{
    font-size: 1.5em;
    color: #628185;
    font-weight: lighter;
    padding-left: 4%;
    vertical-align: super;
}
#project-list-item > li:hover,
#student-list-item > li:hover{
    background-color: #c0dfe2;
    border-left: 5px solid #50bed5;
    cursor: pointer;
}
#report {
    height: 300px;
    margin-bottom: 50px;
}
.addStudent input {
    margin-top: 10px;
    margin-bottom: 10px;
}
.conclusion{
    height: 100px;
}
.studentsList{
    list-style: none;
}
.studentsList > li{
    display: inline;
}

#selectmember
{
    border: 2px solid floralwhite;
    border-radius: 13px;
    margin-bottom: 20px;
    height: 300px;
    overflow-y: scroll;
}
#selectmember > ul > li {
    list-style: none;
    font-size: 2em;
    padding-left: 10px;
}
#selectmember > ul > li > label{
    color: inherit;
    font-size: 1.3rem;
    font-weight: 100;
}


#logout {
    background-color: rgba(255, 255, 255, 0);
    background-color: #50bed5;
    border: none;
    color: #fff;
}

#logout:hover {
    background-color: #2a98a9;
}
.home {
    background-color: #50bed5;
    border: none;
    width: 80px;
    padding-bottom: 15%;
    padding-left: 12%;
    border-bottom: 1px solid #2a98a9;
}

.home:hover {
    background-color: #2a98a9;
}

.home.active {
    background-color: #2a98a9;
}

.graph {
    margin: auto;
    text-align: center;
    /*background-color: #fff;*/
    margin-left: 15px;
    margin-right: 15px;
    height: 65%;
}
.graph h1 {
    font-family: 'Audiowide', sans-serif;
    font-size: 80px;
    padding-top: 55px;
    color: #2a98a9;
}


.btn-primary {
    background-color: #50bed5;
    border: none;
    border-radius: 0px;
}
    .mini-jumbo {
        background-color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5%;
        margin: 0%;
        width: 100%;
        color: #7c8999;
        text-align: left;
        letter-spacing: 1.5px;
        font-size: 20px;
    }
    form {
        margin-bottom: 0px;
    }
    .add {
        font-size: 30px;
    }

    .stat{
        width: 96.8%;
        margin-bottom: 80px;
        margin-left: 3.12%;
    }

    .total {
        height: 40%;
        width: 30.8%;
        margin-right: 2.5%;
        background-color: #d8eaee;
        padding-right: 0px;
        padding-left: 0px;
        border-bottom: 4px solid #50bed5;
    }
    .col-sm-6 {
        padding-left: 20px;
        width: 50%;
    }
    .dripicons-user-group:before, .dripicons-archive:before, .dripicons-clock:before {
        font-size: 30px;
        position: relative;
        top: 7px;
        margin-right: 12px;
        color: #EC4C6B;
    }
    .dripicons-user-group, .dripicons-archive, .dripicons-clock {
        padding-top: 10px;
    }
    .dripicons-archive:before {
        color: #eea21b;
    }
    .dripicons-clock:before {
        color: #267eae;
    }

    .btn-primary {
        margin-bottom: 8%;
    }


/*-------------------------
CEOstart Add student/project
------------------------- */

.ui-dialog {
    padding: 0;
    background: #50bed5;
}
.ui-dialog label{
    font-weight: lighter;
}
.ui-dialog .ui-dialog-buttonpane {
    background-color: #50bed5;
    border-top: none;
}
.ui-widget-header {
    font-weight: lighter;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    border: none;
    width: 100%;
    background: #50bed5;
    color: #FFF;
    border-radius: 0px;
    height: 20%;
    border-bottom: 2px solid #fff;
}
.ui-dialog .ui-dialog-content {
    padding: 5% 4%;
    color: #fff;
    modal: true;
    height: auto;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 3%;
}
.ui-widget-overlay {
    background: #000;
    opacity: .4;
    filter: Alpha(Opacity=30);
    z-index: 1700;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 1000;
}
.ui-widget.ui-widget-content {
    border: none;
    padding: none;
}
.ui-widget-header .ui-icon {
    display: none;
}
.ui-widget button {
    background-color: #FFF;
}
#id_description {
    height: 50%;
    width: 100%;
    color: #5e5e5e;
    outline: none;
}
#id_funding {
    color: #5e5e5e;
    width: 100%;
    outline: none;
}

#id_title, #id_first_name,
#id_last_name, #id_email,
#id_student_number, #id_group, #id_username, #id_position {
    color: #5e5e5e;
    width: 100%;
    font-weight: lighter;
    outline: none;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    width: 100%;
    text-align: center;
}
.ui-dialog .ui-dialog-buttonpane button {
    width: 45%;
    border: none;
    border-radius: 0px;
    height: 60px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    outline: none;
    color: #fff;
    margin-left: 2.5%;
}
.ui-dialog .ui-dialog-buttonpane .proceed {
    background-color: #267eae;
}
.ui-dialog .ui-dialog-buttonpane .proceed:hover {
    background-color: #133F57;
}
.ui-dialog .ui-dialog-buttonpane .cancel {
    background-color: #EC4C6B;
}
.ui-dialog .ui-dialog-buttonpane .cancel:hover {
    background-color: #762636;
}



/*  ------------------
CEO - student page
------------------- */

    form {
        margin-bottom: 0px;
    }
    #deleteStudent {
        margin-top: 70px;
        margin-bottom: 50px;
        margin-left: 28%;
        width: 50%;
    }
    #nextMonth {
        float: right;
        text-align: right;
    }

    .page-header {
        background-color: #d4d4d4;
        background: url("../../../static/credits_score/img/ict.jpg") top;

        background-size: cover;
        height: 300px;
        margin-bottom: 0px;
    }
    #infotable {
        height: 130px;
        background-color: #fff;
        padding-top: 25px;
    }
    #studInfo {
        height:100%;
        width: 60%;
        margin: auto;
        padding-top: 5%;
        background-color: #fff;
        color: #000;
    }
    #studInfo > thead > tr > th {
        font-size: 18px;
        border-right: 2px solid rgba(0, 0, 0, 0.1);
        width: 25%;
        padding-right: 45px;
        color: silver;
        border-top: none;
        padding-top: 0px;
    }
    #studInfo > thead > tr > td {
        color: #000;
        font-size: 25px;
        border-right: 2px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 0px;
    }
    .page-header h1 {
        padding-top: 8%;
        text-align: left;
        margin-left: 21%;
        font-size: 50px;
    }
    .page-header h4, h5 {
        margin-left: 21%;
        text-align: left;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.5px;
    }
    .page-header h4 {
        color: #1b6d85;
    }
    .page-header h5 a:hover {
        color: #fff;
    }
    .logs {
        margin-left: 12%;
        margin-bottom: 5%;
    }
    .logs h2 {
        margin-bottom: 5%;
        color: #1b6d85;
        font-size: 40px;
        width: 50%;
        margin-top: 0;
    }
    .btn-success {
        background-color: transparent;
        color: green;
        font-size: 20px;
        width: 32px;
        padding-left: 6px;
        border-radius: 16px;
        border: none;
    }
    .btn-success:hover {
        background-color: rgba(56, 182, 106, 0.7);
        border: none;
        color: #fff;
    }
    .btn-danger {
        background-color: transparent;
        color: red;
        font-size: 20px;
        width: 32px;
        padding-left: 6px;
        border-radius: 16px;
        border: none;
    }
    .btn-danger:hover {
        background-color: rgba(247, 84, 76, 0.7);
        border: none;
        color: #fff;
    }

    .logs > .table > thead > tr > th {
        background-color: transparent;
        color: #267eae;
        font-size: 16px;
        margin-top: 30px;
    }

    .logs > .table > tbody > tr > th {
        background-color: #fff;
        margin-bottom: 10px;
        font-weight: 400;
        vertical-align: middle;
    }

    .logs > .table {
        border-collapse: separate;
        -webkit-border-vertical-spacing: 7px;
    }

    .btn-success:focus, .btn-danger:focus, .btn-primary:focus {
        outline: none !important;
    }
    .logs > .table > tbody > tr > .gray_col {
        background-color: #EBF2F7;
        width: 10%;
    }
    .bold_col {
        width: 10%;
    }
    .logs > .table > tbody > tr > .stat_change {
        width: 5%;
    }
    .dripicons-arrow-thin-left:before {
        margin-right: 5px;
    }
    .dripicons-arrow-thin-right:after {
        content: "\6d";
        margin-left: 5px;
    }
    .dripicons-arrow-thin-right:before {
        content: normal !important;
    }
    .dripicons-arrow-thin-right,
    .dripicons-arrow-thin-left {
        margin-top: 15px;
    }
    .dripicons-arrow-thin-right:after,
    .dripicons-arrow-thin-left:before {
        position: relative;
        top: 7px;
        font-size: 25px;
    }
    .dripicons-arrow-thin-right, .dripicons-arrow-thin-left {
        font-size: 16px;
    }
    .dripicons-tag:before {
        position: relative;
        top: 3px;
        margin-right: 5px;
    }
    .dripicons-mail:before {
        position: relative;
        margin-right: 5px;
        left: 3px;
        top: 2px;
    }
    #approveAll {
        margin-right: 7%;
        float: right;
        background-color: #398439;
        font-size: 20px;
    }
    #approveAll:hover {
        background-color: #153215;
    }

    /*--------------------------
    TABLE OF CONCLUSIONS FOR CEO
    --------------------------*/

    #conclusions {
        width: 85%;
        margin-left: 10%;
    }

    #conclusions > thead > tr > th {
        background-color: #50bed5;
        border: none;
        color: #fff;
    }
    #conclusions > tbody > tr > td {
        border-top: 1px solid rgba(255, 255, 255, 0.7);
    }

    #conclusions > tbody > tr:nth-child(even) {
        background: rgba(255, 255, 255, 0.5);
    }
    #conclusions > tbody > tr:nth-child(odd) {
        background: rgba(255, 255, 255, 0.9);
    }

    .btn-concl{
        float: right;
        margin-right: 5%;
    }

    .btn-ecxel {
        background-color: #eea21b;
        border-radius: 0px;
    }
    .btn-ecxel:hover {
        background-color: #956511;
    }
    .btn-send {
        background-color: #267eae;
        color: #FFF;
    }
    .btn-send:hover {
        background-color: #184F6D;
        color: #fff;
    }
    .btn-concl a {
        color: #fff;
        text-decoration: none;
    }

    .fa-file-excel-o, .fa-paper-plane {
        margin-right: 7px;

    }